<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Destination</title>
    <link rel="stylesheet" href="{% static 'TravelBuddy/css/styles.css' %}">
  </head>
  <body>
    <div class="container">
      {% if request.session.user_id %}
      <a href="{% url 'TravelBuddy:travels' %}">Home</a>
      <a href="{% url 'TravelBuddy:logout' %}">Logout</a>
      {% endif %}

      {% if destinations %}
        {% for destination in destinations %}
          <h3>{{ destination.destination }}</h3>
          <p>Planned By: {{ destination.user.name }}</p>
          <p>Description: {{ destination.describe }}</p>
          <p>Travel Date From: {{ destination.start }}</p>
          <p>Travel Date To: {{ destination.end }}</p>
        {% endfor %}
      {% endif %}

      {% if joined_users %}
      <h3>Other user's joining the trip</h3>
        {% for user in joined_users %}
          <p>{{ user.name }}</p>
        {% endfor %}
      {% endif %}
    </div><!-- end_of_container-->
  </body>
</html>
