<div class="row">
    <div class="col-md-3 col-sm-3">
        <h2>Sign Up</h2>
      <div class="form-group" ng-controller='UserController'>
        <form ng-model = "signup" ng-submit = "signup()">
          {{errors.first_name.message}}
          <label for="first_name">First Name</label>
          <input type="text" ng-model = "signup.first_name" placeholder= "first name">
          {{errors.last_name.message}}
          <label for="last_name">Last Name</label>
          <input type="text"  ng-model = "signup.last_name" placeholder= "last name">
          {{errors.email.message}}
          <label for="email">Email</label>
          <input type="email"  ng-model = "signup.email" placeholder= "email">
          {{errors.password.message}}
          <label for="password">Password</label>
          <input type="password"  ng-model = "signup.password" placeholder= "password">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" ng-model = "signup.confirm_password" placeholder= "confirm password">
          {{errors.birthday.message}}
          <label for="birthday">Birthday</label>
          <input type="date" ng-model = "signup.birthday">
          <input type="submit" value = "Sign Up">
        </form>
      </div>
  </div>
</div>
