body{
  width: 60%;
  margin: auto;
}
.logo{
  width: 45%;
  float: left;
}
.login{
  width: 45%;
  float: right;
  height: 80px;
  line-height: 80px;
  text-align: right;
}
.del{
  margin: 10px 0px;
}
.head a, .del a{
  color: #666;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 10px;
  border: 1px solid #ddd;
}
.head a:hover, .del a:hover{
  color: #fff;
  background: #ddd;
  border: 1px solid #aaa;
}
.admin a{
  color: #666;
  background: #ddd;
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 10px;
  border: 1px solid #ddd;
  margin: 2px;
}
.admin a:hover{
  color: #fff;
  background: #aaa;
  border: 1px solid #666;
}
textarea{
  padding: 10px;
  width: 97%;
  border-radius: 4px;
}
input{
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #aaa;
}
select{
  width: 191px;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #aaa;
}
dd{
  margin: 10px;
  padding: 10px;
}
.post{
  float: right;
}
.gray{
  color: #aaa;
  font-size: 10px;
}
.message{
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 4px;
}
.comment{
  color: #666;
  border: 1px solid #ddd;
  background: #eee;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
}
.alert{
  color: red;
}
.clear{
  clear: both;
}
.sign, .admin{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 310px;
  text-align: right;
  margin: 10px 0px;
}
