<style type="text/css">
	#box{
		border:2px gray solid;
		height: 30em;
		width: 50em;
	}
	table{
		width: 45%;
		height: 20em;
		margin: 0 auto;
	}
	th, td{
		font-size: 2em;
	}
</style>
<div class="row" style='height: 10em'></div>
<div class="row">
	<table class='table-hover'>
		<tr>
			<th>Name:</th>
			<td ng-bind='name'></td>
		</tr>
		<tr>
			<th>Discussions Created:</th>
			<td ng-bind='discussionCount'></td>
		</tr>
		<tr>
			<th>Total Messages Added:</th>
			<td ng-bind='messageCount'></td>
		</tr>	
	</table>
</div>