<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div class="head">
      <div class="logo">
        <h1>Coding Dojo Wall</h1>
      </div>
      <div class="login">
        {% if session['first_name'] %}
        <h5>Welcome {{ session['first_name'] }}
        {% if session['level'] == 9 %}<a href="/admin/{{session['user_id']}}">Admin</a>{% endif %} <font class="alert">Level:  {{session['level']}}</font> <a href="/logOut">Log Out</a>
        {% else %}
        <a href="/signIn">Sign In</a> <a href="/signUp">Sign Up</a></h5>
        {% endif %}
      </div>
    </div>
    <div class="clear"><hr></div>
    <form action='/create' method='POST'>
      <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
      <h3><label for="message">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <font class="alert">{{message}}</font>
            {% endfor %}
          {%else%}
            Post a message:
          {% endif %}
        {% endwith %}</label></h3>
      <textarea name="message" rows="8" cols="80"></textarea>
      <div class="post">
        <input type="submit" value="Post a message">
      </div>
    </form>

    {% for message in messages: %}
      <h5>{{message['first_name']}} <font class="gray">- {{message['created_at']}}</font></h5>
      <div class="message">
        {{message['message']}}
        {%if message['updated_at'] > message['created_at']  %}
          <font class="gray">- Edited by {{message['editby']}} at {{message['updated_at']}}</font>
        {%endif%}
        {% for comment in comments: %}
          {% if message['id'] == comment['message_id'] %}
            <h5>{{comment['first_name']}} <font class="gray">- {{comment['created_at']}}</font></h5>
            <div class="comment">
              {{comment['comment']}}
              {%if comment['updated_at'] > comment['created_at']  %}
                <font class="gray">- Edited by {{comment['editby']}} at {{comment['updated_at']}}</font>
              {%endif%}
            </div>
            {% if comment['first_name'] == session['first_name'] %}
              <div class="del">
                <form class="" action="/delete/{{comment['id']}}" method="post">
                  <a href="/edit_comment/{{comment['id']}}">Edit it</a>
                  <input type="submit" name="" value="Remove">
                </form>
              </div>
            {% elif (now - comment['created_at']).seconds < 3600 * comment['level'] %}
              <div class="del">
                <form class="" action="/delete/{{comment['id']}}" method="post">
                  <a href="/edit_comment/{{comment['id']}}">Edit it</a>
                  <input type="submit" name="" value="Remove">
                </form>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <form action='/comment' method='POST'>
          <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
          <input type="hidden" name="message_id" value="{{message['id']}}">
          <h5><label for="comment">Post a reply:</label></h5>
          <textarea name="comment" rows="2" cols="80"></textarea>
          <div class="post">
            <input type="submit" value="Post a reply">
          </div>
        </form>
      </div>
      {% if message['first_name'] == session['first_name'] %}
        <div class="del">
          <form class="" action="/remove/{{message['id']}}" method="post">
            <a href="/edit_message/{{message['id']}}">Edit it</a>
            <input type="submit" name="" value="Remove">
          </form>
        </div>
      {% elif (now - message['created_at']).seconds < 3600 * message['level'] %}
        <div class="del">
          <form class="" action="/remove/{{message['id']}}" method="post">
            <a href="/edit_message/{{message['id']}}">Edit it</a>
            <input type="submit" name="" value="Remove">
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </body>
</html>
