.Square{
  width: 140px;
  height: 140px;
  background: blue;
}
.Circle{
  width: 140px;
  height: 140px;
  background: blue;
  border-radius: 140px;
}
.UpTriangle{
  width: 0px;
  height: 0px;
  border-left: 70px solid transparent;
  border-right:70px solid transparent;
  border-bottom: 140px solid blue;
}
.Pacman{
  width: 0px;
  height: 0px;
  border-right: 70px solid transparent;
  border-top: 70px solid blue;
  border-left: 70px solid blue;
  border-bottom: 70px solid blue;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
