<h1>User Login</h1>
<form action="/login" method="post">
    <p>Email : <input type="text" name="email"></p>
    <p>Password : <input type="password" name="password"></p>
    <input type="submit" value="Login!">
</form>
<p>Not yet registered? <a href="/register">Register now!</a></p>