<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>Submitted Info</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>@ViewBag.name</td>
        </tr>
        <tr>
            <td>Dojo Location:</td>
            <td>@ViewBag.location</td>
        </tr>
        <tr>
            <td>Favorite Language:</td>
            <td>@ViewBag.language</td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td>@ViewBag.comments</td>
        </tr>
    </table>
</body>
</html>