<html>
<head>
  <title>Update Friend</title>
</head>
<body>
  <h1>Update a Friend</h1>
  <form action='/update_friend' method='POST'>
    {% for friend in one_friend: %}
    <input type="hidden" name="" value="{{ friend['id'] }}">
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value="{{ friend['first_name'] }}"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value="{{ friend['last_name'] }}"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation" value="{{ friend['occupation'] }}"></label>
    {% endfor %}
    <input type="submit" value="Update">
  </form>
</body>
</html>
